/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #FF8DCB;
  --title-color: #353430;
  --subtitle-color: #000028;
  --main-text-color: #353430;
  --nav-color: #353430;
  --header-logo-color: #FFC2E6;
  --footer-logo-color: #FFC2E6;
  --decorathion-corner: #353430;
  --main-bg-color: transparent;
  --text-link-state : #353430;
  --text-link-shadow: #FF8DCB;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__theme-menu-button_active {
  --outline-nav-button: 1px solid #353430;
}

.theme_light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
}

.theme_light .indicator-neon {
  display: none;
}

.theme_light .header__theme-menu-button:focus-visible {
  border-bottom: 1px solid #353430;
}

.theme_light .header-logo {
  text-shadow: 4px 4px #ff8dcb;
}

.theme_light .logo-footer {
  text-shadow: 4px 4px  #ff8dcb;
}

@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #FF8DCB;
  --title-color: #353430;
  --subtitle-color: #000028;
  --main-text-color: #353430;
  --nav-color: #353430;
  --header-logo-color: #FFC2E6;
  --decorathion-corner: #353430;
  --main-bg-color: ;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .header__theme-menu-button_active {
    --outline-nav-button: 1px solid #353430;
  }

  .header__theme-menu-button:hover {
    outline: 1px solid rgba(50, 49, 45, 0.4);
  }
  .indicator-neon {
    display: none;
  }

  .logo-footer {
    text-shadow: 4px 4px  #ff8dcb;
  }
}

@media (width >= 1024px) {
  .theme_light .header-logo {
    text-shadow: 4px 4px  #ff0070;
  }
}