/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #FF8DCB;
  --title-color: #353430;
  --subtitle-color: #353430;
  --main-text-color: #353430;
  --nav-color: #353430;
  --header-logo-color: #FFC2E6;
  --footer-logo-color:  #ffc2e6;
  --decorathion-corner: #353430;
  --main-bg-color: #ffeef6;
  --text-link-state : #353430;
  --text-link-shadow: #FF8DCB;
  --color-nav-button-active: #353430;
  --color-nav-button-state: #353430;
  --logo-shadow: #ff8dcb;
  --color-nav-button-hover: rgba(50, 49, 45, 0.4);
  background-image: url(../images/cover-image-light.png);
}

.theme_light .indicator-neon {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --title-color: #353430;
    --subtitle-color: #353430;
    --main-text-color: #353430;
    --nav-color: #353430;
    --header-logo-color: #FFC2E6;
    --footer-logo-color:  #ffc2e6;
    --decorathion-corner: #353430;
    --main-bg-color: #ffeef6;
    --text-link-state : #353430;
    --text-link-shadow: #FF8DCB;
    --color-nav-button-active: #353430;
    --color-nav-button-state: #353430;
    --logo-shadow: #ff8dcb;
    --color-nav-button-hover: rgba(50, 49, 45, 0.4);
}

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .indicator-neon {
    display: none;
  }
}

@media (width >= 1024px) {
  .theme_light .header-logo {
    text-shadow: 4px 4px  #ff0070; 
  }

  .theme_light .logo-footer {
    text-shadow: 2px 2px #ff0070;
  }
}